---
layout: default
---

<style>

main>section article a {
    border-bottom: 0px solid #b4e7f8;
}
main>section {
    padding: 0px 240px;
    margin-bottom: 120px;
}

main>section h1{
    margin-left: -105px;
}

main>section h3{
    margin-left: -105px;
    margin-bottom: 50px;
}
@media screen and (min-width: 1024px) {
  main>section article .article__date {
    font-weight: normal;
    display: inline-block;
    color: #b0b0b0;
    margin-left: -120px;
    margin-top: 20px !important;
}
main>section h1{
    margin-left: -125px;
}
.article-section p{ 
  margin-left: -120px !important;
}
.article-section img{ 
  margin-left: 0px !important;
}
}
@media screen and (max-width: 768px) {
    main>section {
    padding: 0px 50px;
    margin-bottom: 120px;
} 
main>section h1{
    margin-left: -30px !important;
}
main>section h3{
    margin-left: -30px !important;
    margin-bottom: 50px;
}
}
</style>
<!-- Article -->
<article{% if site.addthisId == "" and site.disqusUsername == "" %} class="noBorder"{% endif %}>

  <!-- Article title -->

  <h1 class="abril-fatface-regular">{{ page.title }}</h1>


  <!-- Article date -->
  <span class="article__date">
    {% if site.lang == "tr" %}
      {% assign m = page.date | date: "%-m" %}
      {{ page.date | date: "%-d" }} 
      {% case m %}
        {% when "1" %}OCAK 
        {% when "2" %}ŞUBAT 
        {% when "3" %}MART 
        {% when "4" %}NİSAN 
        {% when "5" %}MAYIS 
        {% when "6" %}HAZİRAN 
        {% when "7" %}TEMMUZ 
        {% when "8" %}AĞUSTOS 
        {% when "9" %}EYLÜL 
        {% when "10" %}EKİM 
        {% when "11" %}KASIM 
        {% when "12" %}ARALIK 
      {% endcase %}
      {{ page.date | date: "%Y" }}
    {% else %}
      {{ page.date | date_to_long_string | upcase }}
    {% endif %}
  </span>

  <!-- Article description -->
  <section class="article-section">{{ page.content }}</section>

</article><!-- article -->

<!-- If addthisId declared -->
{% if site.addthisId != "" %}

  <!-- Addthis -->
  <div class="addthis_sharing_toolbox mt"></div>
  <script async src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-{{ site.addthisId }}"></script>

{% endif %}

<!-- If disqusUsername declared -->
{% if site.disqusUsername != "" %}

  <!-- Full width -->
  <div class="full">

    <!-- Disqus -->
    <div id="disqus_thread" class="mt mb"></div>
    <script async src="//{{ site.disqusUsername }}.disqus.com/embed.js"></script>

  </div><!-- .full -->

{% endif %}
